version: '3.8'
services:
    web:
        image: nginx:1.21.6
        depends_on:
            - app
        ports:
            - 80:80
        volumes:
            - .:/var/www/html
            - ./.deploy/nginx/nginx.conf:/etc/nginx/conf.d/default.conf
        networks:
            - api
    app:
        build:
            context: ./
            dockerfile: ./.deploy/Dockerfile
            target: local
        environment:
            XDEBUG_MODE: coverage
        extra_hosts:
            - 'host.docker.internal:host-gateway'
        ports:
            - 9000:9000
        volumes:
            - ./:/var/www/html
        networks:
            - api
        depends_on:
            - database
            - cache
            - mailhog
    database:
        image: mariadb:10
        ports:
            - 3306:3306
        environment:
            MYSQL_ROOT_PASSWORD: ""
            MYSQL_DATABASE: "api"
            MYSQL_USER: "root"
            MYSQL_PASSWORD: ""
            MYSQL_ALLOW_EMPTY_PASSWORD: 'yes'
        volumes:
            - mariadb:/var/lib/mysql
        networks:
            - api
        healthcheck:
            test: [ "CMD", "mysqladmin", "ping", "-p" ]
            retries: 3
            timeout: 5s
    cache:
        image: redis:alpine
        ports:
            - 6379:6379
        volumes:
            - redis:/data
        networks:
            - api
        healthcheck:
            test: [ "CMD", "redis-cli", "ping" ]
            retries: 3
            timeout: 5s
    mailhog:
        image: 'mailhog/mailhog:latest'
        ports:
            - 1025:1025
            - 8025:8025
        networks:
            - api
networks:
    api:
        driver: bridge
volumes:
    mariadb:
        driver: local
    redis:
        driver: local
